.vid,
.temp {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	left:0;
	top:0;
}

.vid iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.vid img {
	position: absolute;
	z-index: 1;
	width: 7%;
    height: 12%;
    top: 87%;
    left: 47%;
    display: none;
}

.vid:hover img {
	display: block;
}

/*.vid:hover {
	border: 5px solid red;
}
*/

.ui-droppable {
	padding-top: 15px;
	padding-bottom: 15px;
	visibility: hidden;
}

.ui-droppable-disabled {
	visibility: visible;
}

.ui-droppable-active,
.ui-draggable-dragging {
	visibility: visible;
}

.highlight div{
	border: 2px dashed black;
	opacity: 0.3;
}

.ui-droppable-hover div{
	border: 2px solid black;
	opacity: 1.0;
}

/*.ui-droppable div {
	border: 2px dashed black;
	//opacity: 0.3;
}*/
