body {
	overflow-y: scroll;
	padding-bottom: 100px;
}

.vid, 
.temp {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	left:0;
	top:0;

}

.chat {
	position: relative;
	border: 2px dashed transparent;
}

.vid-fit {
	padding-bottom: 0%;
}

.vid iframe,
.chat iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}

.vid .fa-arrows {
	color: white;
	position: absolute;
	z-index: 1;
    bottom: 2px;
    left: 2%;
    font-size: 150%;
    display: none;
    padding: 2px 2px;
}

.vid .fa-times {
	color: white;
	font-size: 150%;
	right: 3px;
	position: absolute;
	z-index: 1;
	display: none;
}

.vid .aspect-ratio {
	color: white;
	position: absolute;
	z-index: 1;
    bottom: 3px;
    left: 36%;
    width: 22px;
    display: none;
    padding: 2px 2px;
    cursor: pointer;
}

.chat .fa-arrows {
	color: #6441a4;
	position: absolute;
    z-index: 1;
    bottom: 22px;
    left: 49.5%;
    font-size: 150%;
}

.chat .fa-times {
	color: #6441a4;
	position: absolute;
    z-index: 1;
    right: 1%;
    top: 11px;
    font-size: 150%;
}

.vid:hover .fa-arrows,
.vid:hover .fa-times,
.vid:hover .aspect-ratio,
.vid:hover .tools-background {
	display: inline-block;
}

.ui-droppable {
	padding-top: 15px;
	padding-bottom: 15px;
	display: block;
	float: left;
}

.ui-draggable {
	border: 2px dashed transparent;
}

.ui-droppable-active {
	visibility: visible;
}

.ui-droppable-active .vid, 
.ui-droppable-active .chat{
	border: 2px dashed black;
	opacity: 1.0;
}

.ui-droppable-hover .vid,
.ui-droppable-hover .chat {
	border: 2px solid black;
	opacity: 0.5;
}

.deletable {
	visibility: visible;
	border: 2px solid red;
}

.vid .glyphicon-remove {
	display: none;
}

.vid .fa-times:hover,
.vid .fa-arrows:hover {
	color: #b2a0d2;
	cursor: pointer;
}

.chat .fa-times:hover,
.chat .fa-arrows:hover {
	color: black;
	cursor: pointer;
}

.fa-arrows-text {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
	position: absolute;
	z-index: 1;
	font-size: 11px;
	color: white;
    left: -4.5%;
    bottom: 39px;
    background-color: rgba(0,0,0,0.7);
    padding: 3px 5px;
	display: none;
}

.aspect-ratio-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    z-index: 1;
    font-size: 11px;
    color: white;
    left: 15.5%;
    bottom: 39px;
    background-color: rgba(0,0,0,0.7);
    padding: 3px 5px;
	display: none;
}

.tools-background {
    height: 29px;
    width: 87px;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    bottom: 11px;
    left: 46%;
    display: none;
}

.tools-background > div {
	display: inline-block;
}

.tools-background > div > span {
	white-space: nowrap;
}

.vid .fa-arrows:hover ~ .fa-arrows-text {
    display: inline-block;
}

.vid .aspect-ratio:hover ~ .aspect-ratio-text {
	display: inline-block;
}

.tabs {
	width: 80%;
	margin-top: 5px;
	margin-bottom: 10px;
}

.nav-tabs {
	position: relative;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
	background-color: #6441a4;
	color: white;
}

.nav > li > a:hover {
	background-color: #b2a0d2;
}

.nav > li > a,
.nav > li > a > input {
	border: 1px solid #ddd;
	color: black;
}

.content {
	border: none;
	display: none;
}

.content-active {
	display: block;
}

.error span {
	color: red;
}

.loading,
.status {
	width: 24px;
	display:none;
}

.show-status {
	display: inline-block;
	width: 23px;
	height: 23px;
}

#save {
  display:none;
}

.fa.fa-chevron-up,
.fa.fa-chevron-down {
	color: #8b8b8b;
	font-size: 15px;
	padding: 5px 5px;
}

.fa.fa-chevron-up:hover,
.fa.fa-chevron-down:hover {
	color: black;
}

.resizable-overlay {
	width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: none;
}

.searchResults {
	background-color: white;
	border: 1px solid black;
	width: 250px;
	height: 225px;
	overflow-y: scroll;
	display: none;
	z-index: 1;
	position: absolute;
	cursor: pointer;
}

.results-hover {
	background-color: rgba(0,0,0,0.3);
}

.top-games {
	display: none;
}

.top-games img {
	margin: 3px 10px;
	cursor: pointer;
}

.live-streams-list {
	overflow-y: scroll;
	height: 350px;
}

.live-streams-list > div {
	/*margin: 6px 10px;*/
	display: inline-block;
	cursor: pointer;
}
.top-games img:hover,
.live-streams-list > div:hover {
	opacity: 0.8;
}

.live-streams-list > div > img {
	width: 100%;
}

.twitch-connect,
#loggedInUser,
#logoutBtn {
	display: none;
}

.entry > img {
	width: 19px;
	float: right;
}

.twitch-connect {
	cursor: pointer;
}

.contextmenu {
	background-color: white;
	border: 1px solid grey;
	display: none;
	position: absolute;
	z-index: 2;
}
 .contextmenu > div {
 	padding: 4px 10px;
 }

 .contextmenu > div:hover {
 	background-color: rgba(0,0,0,0.3);
 	cursor: default;
 }